#content {
    width: 70%;
    margin: auto;
}

#messageSpan {
    color: green;
    font-size: smaller;
}

button {
    margin-top: 10px;
}

.div-options {
    margin-bottom: 10px;
}

.label-number-of-pins {
    display: inherit;
}
